* {
    margin: 0;
    padding: 0;
}

.logout {
    background-color: red;
    outline: none;
    padding: 23px;
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}